<h1>The Movie Madness</h1>
<% collection = @movies.order(title: :asc) %>
<% collection.each do |movie| %>
    <h3><%= movie.title.titleize %></h3><br>
    Year: <%= movie.year %><br>
    Genre: <%= movie.genre %><br>
    
    <%= link_to "View Reviews", movie_reviews_path(movie.id) %>
    
    
    <% if logged_in? %>
        <%= link_to "Add Reviews", new_movie_review_path(movie) %>
    <% end %>

    
<% end %>