<!DOCTYPE html>
<html>
  <head>
    <title>MovieReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar">
      <% if logged_in?%>
        <%= link_to "Log Out", logout_url %>
        <%= link_to "Profile", user_path(current_user) %>
        <%= link_to "New Movie", new_movie_url %>
      <% end %>

      <%= link_to "Reviews", movies_url %>

      

      <%= link_to "Home", root_path %>
    </div>

    <div class="container">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>

<style>
.navbar {
  background-color: #a5abad;
  overflow: hidden;
  margin: 0;
}

.navbar a {
  float: right;
  color: #000000;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

</style>

